<div class="comment-wrapper">
  <div class="panel panel-info">
    <div class="panel-body">
      <hr>      
      <h4><%= @messages.count %> comments</h4>

      <%= form_for [@listing, @message] do |f| %>
        <%= f.text_area :body, class: "form-control textarea", placeholder: "Add a comment..." %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <% end %>

      <input type="submit" class="btn btn-primary mt-2" value="Submit" form="new_message">
      <ul class="media-list">
        <% @messages.each do |message| %>
          <% if message.body %>
            <% user = User.find(message.user_id) %>
            <li class="media my-2">
              <a href="#" class="pull-left mr-2">
                <%= gravatar_image_tag(user.email, size: 64, alt: current_user.username) %>
              </a>
              
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted"><%= message.message_time %></small>
                </span>
                <strong class="text-success"><%= user.username %></strong>
                <p>
                  <%= message.body %>
                </p>
              </div>
            </li>
          <% end %>
        <% end %>        
      </ul>
    </div>
  </div>
</div>


