<div class="accordion" id="accordionExample">
  <div class="card z-depth-0 bordered">
    <div class="card-header" id="headingMain">
      
      <h4><%= pluralize(@reservations.count, 'Reservation') %></h4>
      <span><%= @listing.swipes_reserved %>/<%= @listing.available_swipes %> Reserved</span>
    </div>
  </div>
  
  <% @reservations.each do |reservation| %>
    <% if reservation.num_reservations %>
      <% user = User.find(reservation.user_id) %>
      <% seller = User.find(@listing.user_id) %>
      
      <div class="card reservation-card z-depth-0 bordered">
        
        <div class="card-header" id="heading<%= reservation.user_id %>">
          <span class="mb-0">
            <button class="btn reservation-gravatar-toggle btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= reservation.user_id %>"
              aria-expanded="true" aria-controls="collapse<%= reservation.user_id %>">
              <img class="reservation-gravatar-img" src="<%= gravatar_image_url(user.email) %>">
              <%= user.username %>
            </button>
          </span>
          <span class="float-right" style="line-height:48px">
            <span>Reserved: <%= reservation.num_reservations %> | </span>
            <span>Seller
              <% if reservation.seller_confirmed %>
                <i class="fa fa-check" style=""></i>
              <% else %>
                <i class="fa fa-times" style=""></i>
              <% end %>|
            </span> 
            <span>Buyer
              <% if reservation.buyer_confirmed %>
                <i class="fa fa-check" style=""></i>
              <% else %>
                <i class="fa fa-times" style=""></i>
              <% end %>
            </span>             
          </span>

        </div>
        
        <div id="collapse<%= reservation.user_id %>" class="collapse <%= current_user.id == user.id ? "show" : "" %>" aria-labelledby="heading<%= reservation.user_id %>"
          data-parent="#accordionExample">
          <div class="card-body reservation-card-body">
            <% @ratings = reservation.ratings.all %>
            <% @rating = reservation.ratings.new %>
            
            <% if current_user.id == reservation.user_id%>
              <% if reservation.seller_confirmed && reservation.buyer_confirmed%>
                <% if @ratings.find_all{ |rating| rating.from_seller == false}.empty? == true %>
                  <%= form_for [@listing, reservation, @rating] do |f| %>
                    <span class="rating-form">
                      <label>Rate your experience: </label>
                    </span>
                    <%= f.hidden_field :comment, value: "hello" %>
                    <%= f.hidden_field :from_seller, value: (current_user.id==user.id)? false : true, type: "hidden" %>
                    <input type="submit" class="btn btn-info mt-2" value="Submit" form="new_rating">
                  <% end %>
                <% end %>
              <% else %>
                <%= button_to(
                      reservation.buyer_confirmed ? "Unconfirm Payment" : "Confirm Payment", 
                      confirm_listing_reservation_path(reservation.listing, reservation),
                      method: :put, 
                      :class => "btn " + (reservation.buyer_confirmed ? "btn-light" : "btn-success")
                    )
                %>
              <% end %>
            <% end %>
            
            <% if current_user.id == @listing.user_id  %>
              <% if reservation.seller_confirmed && reservation.buyer_confirmed%>
                <% if @ratings.find_all{ |rating| rating.from_seller == true}.empty? == true %>
                  <%= form_for [@listing, reservation, @rating] do |f| %>
                    <span class="rating-form">
                      <label>Rate this buyer: </label>
                    </span>
                    <%= f.hidden_field :comment, value: "hello" %>
                    <%= f.hidden_field :from_seller, value: (current_user.id==user.id)? false : true, type: "hidden" %>
                    <input type="submit" class="btn btn-info mt-2" value="Submit" form="new_rating">
                  <% end %>
                <% end %>
              <% else %>
                <%= button_to(
                      reservation.seller_confirmed ? "Unconfirm Payment" : "Confirm Payment", 
                      confirm_listing_reservation_path(reservation.listing, reservation),
                      method: :put, 
                      :class => "btn " + (reservation.seller_confirmed ? "btn-light" : "btn-success")
                    )
                %>
              <% end %>
            <% end %>

            <% @ratings.each do |rating| %>
              <div class="listing-ratings">
                <% if rating.from_seller %>
                  <span>
                    <img class="gravatar-img" src="<%= gravatar_image_url(seller.email) %>">
                    <span>&nbsp;</span><i class="fa fa-arrow-right" style=""></i><span>&nbsp;</span>
                    <img class="gravatar-img" src="<%= gravatar_image_url(user.email) %>">
                  </span>
                <% else %>
                   <span>
                    <img class="gravatar-img" src="<%= gravatar_image_url(user.email) %>">
                     <span>&nbsp;</span><i class="fa fa-arrow-right" style=""></i><span>&nbsp;</span> 
                    <img class="gravatar-img" src="<%= gravatar_image_url(seller.email) %>">
                  </span>
                <% end %>
                 <span>&nbsp;</span><span class="star-rating" data-score=<%= rating.score %>></span>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
</div>

<script>
  $('.rating-form').raty({
    path: '/assets',
    scoreName: 'rating[score]'
  });
  
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
  });
</script>