<div class="row">
  <div  class="col-lg-7">
    <p>
      <strong>Title:</strong>
      <%= @listing.title %>
    </p>
    
    <p>
      <strong>Location:</strong>
      <%= Listing.locations.key(@listing.location) %>
    </p>
    
    <p>
      <strong>Time:</strong>
      <%= @listing.time %>
    </p>
    
    <p>
      <strong>Price:</strong>
      $<%= number_with_precision(@listing.price, :precision => 2) %>
    </p>
    
    <p>
      <strong>Description:</strong>
      <%= @listing.description %>
    </p>
    
    <p>
      <strong>Posted by</strong>
      <%= link_to @listing.user.username, user_path(@listing.user.id)%>
    </p>
    
    <% if user_signed_in? && current_user.id == @listing.user_id %>
      <%= link_to 'Edit', edit_listing_path(@listing) %> |
    <% end %>
    <%= link_to 'Back', listings_path %>
  </div>
  
  <% if user_signed_in? %>
    <div class="col-lg-5">
      <% if current_user != @listing.user and @reservations.find{|reservation| reservation.user_id == current_user.id} == nil%>
        <%= render "reservation_form" %>
      <% end %>
      <%= render "reservation_form" %>
      <%= render "reservation_index" %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
    <div>
      <%= render "chat_form" %>
    </div>
<% end %>