<h1><%= @user.username %></h1>

<% @user.listings.each do |listing| %>
 <div class="card mb-3" style="max-width: 520px;">
  <div class="card-header">
   $<%= listing.price %>
 </div>
   
 <div class="card-body">
   <%= link_to listing do%>
    <h5 class="card-title"><%= listing.title %></h5>
   <% end %>
   <p class="card-text"><%= listing.description %></p>
 </div>
</div>
<% end %>