<div class="user-info">
  <div class="row my-3">
    <div class="col-sm-12 col-md-8">
      <h1>
        <img class="profile-gravatar-img" src="<%= gravatar_image_url(@user.email) %>"> <%= @user.username %>
      </h1>
      
      <p>Seller Rating: <span class="star-rating" data-score=<%= @seller_score %>></span></p>
      <p>Buyer Rating: <span class="star-rating" data-score=<%= @buyer_score %>></span></p>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Contact: <%= @user.email %></p>
      <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "btn btn-light"%>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-lg-6">
    <div class="mt-2">
      <h4 class="mb-4" style="color: white;">User's listings</h4>
      <% if @user.listings.count > 0 %>
        <div class="card-deck">
          <% @user.listings.each do |listing| %>
            <%= render "profile_card", listing: listing %>
          <% end %>
        </div>
      <% else %>
        <p>No listings available</p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-6">
 <div class="mt-2">
    <h4 class="mb-4" style="color: white;">Reserved listings</h4>
    <% if @buyer_listings.count > 0 %>
      <div class="card-deck">
        <% @buyer_listings.each do |listing| %>
          <%= render "profile_card", listing: listing %>
        <% end %>
      </div>
    <% else %>
      <p>No listings available</p>
    <% end %>
  </div> 
</div>

<script>
  $('.rating-form').raty({
    path: '/assets',
    scoreName: 'rating[score]'
  });
  
  $('.star-rating').raty({
    path: '/assets',
    readOnly: true,
  });
</script>