<div class="row my-3">
  <div class="col-sm-12 col-md-8">
    <h1>
      <%= gravatar_image_tag(@user.email, size: 64, alt: @user.username) %> <%= @user.username %>
    </h1>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Contact: <%= @user.email %></p>
  </div>
</div>
<hr>
<div class="mt-2">
  <h4 class="mb-4">User's listings</h4>
  <% if @user.listings.count > 0 %>
    <div class="card-deck">
      <% @user.listings.each do |listing| %>
        <%= link_to listing do %>
          <div class="card mb-3" style="">          
            <div class="card-body">
              <div class="">
                <%= gravatar_image_tag(listing.user.email, size: 64, alt: listing.user.username) %>
                <span class="float-right card-reservations">
                  <%= listing.swipes_reserved %> reservations
                </span>
              </div>
              <div class="">
                <%= link_to listing do%>
                  <p class="card-title my-2"><%= listing.user.username %></p>
                <% end %>
                <p class="card-price">
                  $<%= listing.price %>
                </p>
              </div>
            </div>

            <div class="card-footer">
              <% if user_signed_in? && current_user.id == listing.user_id %>
                <div style="display: inline-block;">
                  <%= link_to edit_listing_path(listing), class:"mr-1" do%>
                  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to listing, method: :delete, data: {confirm: "Are you sure you want to delete this listing?"} do%>
                  <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  <% end %>
                </div>
              <% end %>
              <span class="card-location float-right">
                <span class="icon"><i class="fa fa-map-pin" aria-hidden="true"></i></span> <%= Listing.locations.key(listing.location) %>
              </span>
            </div>      
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>No listings available</p>
  <% end %>
</div>